<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>marketSpace | Set password </title>
</head>

<body>
    <main class="index-main">
        {{> _navbar}}
        <section class="main-content">
            <main class=" section-auth reset">
                <div class="box__login reset-card">

                    <form action="/auth/resetPassword/{{resetToken}}?_method=PUT" method="POST"
                        class="form section-contact__form">
                        {{> _alerts}}
                        <h3 class="u-heading--secondary u-margin-bottom--small reset-heading">
                            <i class="icon-ecommerce-bag"></i>Set new password
                        </h3>

                        <div class="form__group">
                            <input class="form__input" type="password" placeholder="Reset Password" id="password"
                                name="password" required />
                            <label class="form__label" for="password">Reset Password</label>
                        </div>

                        <button type="submit" class="btn btn-primary btn--block u-margin-bottom--small">
                            <i class="icon-ecommerce-bag"></i> NEW PASSWORD
                        </button>
                        <p class="u-center-text">
                            Didn't get email?
                            <a href="/auth/forgotPassword">Retry</a>
                        </p>
                    </form>
                </div>
            </main>
        </section>
    </main>

    <script src="../js/lightbox-plus-jquery.js"></script>
</body>

</html>