<footer class="footer">
    <div class="footer-logo">
        <h2>{{shop.name}}</h2>
        <p>{{shop.mainText_sub_1}}</p>
    </div>
    <div class="footer-icons">
        <p><a href="#">Facebook</a></p>
        <p><a href="#">Twitter</a></p>
        <p><a href="#">Instagram</a></p>
    </div>
</footer>