<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="3D6i4t7vRKZDerlikBWmtoH2i4J8dFyfqsza01zw6U0" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="manifest" href="/manifest.json">
    {{!-- IOS SUPPORT --}}
    {{!--
    <link rel="apple-touch-icon" href="style.css"> --}}
    <meta name="apple-mobile-web-app-status-bar" content="#4b1d3fff" />
    <meta name="theme-color" content="#4b1d3fff" />
</head>

<body>

    {{{body}}}

    <script src="/js/app.js"></script>
</body>

</html>