<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/icon-font.css" />
  <link rel="stylesheet" href="../css/ecommerce.css" />

  <title>marketSpace | home</title>
</head>

<body>
  <main class="index-main">
    {{> _navbar}}
    <section class="main-content">
      <header class="main-content-header">
        <!-- video -->
        <div class="bg-video">
          <video class="bg-video__content" autoplay muted loop>
            <source src="../img/Working-Space.mp4" type="video/mp4" />
            <!-- <source src="../img/video.webm" type="video/webm" /> -->
            Your browser is not supported
          </video>
          <div class="bg-video__overlay"></div>
        </div>
        <!-- overlay -->
        <div class="overlay overlay--dark"></div>
        <!-- text -->
        <div class="main-content-text u-center-text">
          <h1 class="u-heading--large u-uppercase u-margin-bottom--small">
            marketSpace
          </h1>
          <p>Get your own market space</p>

          <a href="/auth" class="btn btn-primary btn--rounded btn--animated">Get Started</a>
        </div>
      </header>


      <section id="section-about" class="section-about">

        <div class="section-about-text">
          {{> _alerts}}
          <h1 class="u-heading--secondary u-margin-bottom--small">
            Create, Sell, Be Happy.
          </h1>
          <p class="u-margin-bottom--medium">
            You decide what you want to sell,customize what your site will
            look like.
            <br />
            List out your products and you begin selling. You handle the
            orders,deliveries and all, We just help you reach your goal.
          </p>
        </div>
        <!-- about images -->
        <div class="section-about-image">
          <img src="/img/showcase-image.png" alt="" />
        </div>
      </section>
      <!-- testimonials  -->
      <section class="testimonials">
        <div class="grid-2 grid-to-1 testimonials-content">
          <div class="testimonials-side-img">
            <img src="/img/side-img.PNG" alt="" />
          </div>
          <div class="testimonials-text">
            <div>
              <h1 class="u-heading--secondary u-center-text u-margin-bottom--small">
                Join the moving train...
              </h1>
              <p class="u-margin-bottom--medium">
                <strong>Every seller has his or her own space to &ndash;</strong>
                <br />
                1. Choose images to display on the page.
                <br />
                2. Create and publish products.
                <br />
                3. Handle orders.
              </p>
              <a href="/auth" class="btn btn-primary btn--rounded btn--animated">Register.</a>
            </div>
          </div>
        </div>
      </section>

      <div class="pre-contact">
        <h1 class="u-heading--secondary u-margin-bottom--small">
          You publish, We support
        </h1>
        <p>We're always glad to hear from. You got question? Contact us</p>
      </div>
      <!-- contact us -->
      <section id="contact-us" class="section-contact">
        <div class="box box__contact">
          <form class="form section-contact__form">
            <div class="form-container">
              <h3 class="u-heading--secondary u-margin-bottom--small">
                Get in touch...
              </h3>
              <div class="form__group">
                <input class="form__input" type="text" placeholder="Full name" id="name" name="name" required
                  spellcheck="false" />
                <label class="form__label" for="name">Full name</label>
              </div>
              <div class="form__group">
                <input class="form__input" type="email" placeholder="Email" id="email" name="email" required />
                <label class="form__label" for="email">Email</label>
              </div>
              <div class="form__group">
                <textarea class="form__input" placeholder="Talk to us" id="text" name="text"></textarea>
                <label class="form__label" for="text">Text</label>
              </div>
              <button type="submit" class="btn btn-primary btn--block">
                Talk to us
              </button>
            </div>
          </form>
        </div>
      </section>
    </section>
  </main>
</body>

</html>